@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
html{
    font-family: "Schibsted Grotesk", sans-serif;
    background-color: rgb(255, 0, 0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFBF2;;
    color: #000;
    font-family: "Schibsted Grotesk", sans-serif!important;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
.cursor{
    transition: all linear 0.2s;
    transition-delay: 0ms;
    background-color: rgb(33, 33, 33);
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    opacity: 0;
}

.slide{
  animation: 37s slide infinite linear;
}
  .text{
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 600;
  color: rgb(33, 33, 33);
 }

@keyframes slide {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  } 

  .appear{
    color: red!important;
  }

  ::-webkit-scrollbar{
    width: 6px;
  }
  ::-webkit-scrollbar-track{
   background-color: rgba(251, 251, 251, 0.773);
   width: 0px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: black;
  }
  .text-box::-webkit-scrollbar{
    display: none;
  }

  ::selection{
    color: White;
    background: rgb(33, 33, 33);
  }

  .btn::after{
   right: 0;
  }
  .btn::before{
    left: 0;
  }
  .btn::after,
  .btn::before{
    content: "";
    height: 100%;
    position: absolute;
    width: 50%;
    background: #FFFBF2;
    z-index: 0;
    rotate: 180deg;
    transition: all .4s linear;
  }
  .btn:hover span{
    background-color: #FFFBF2;
  }
  .btn:hover{
    color: #FFFBF2;
  }
   .btn{
    cursor: pointer;
   }
  
  .btn:hover::after{
    width: 0%;
  }

  .btn:hover::before{
    width: 0%;
  }
